body {
    margin: 0;
    font-family: Arial;
    display: flex;
    height: 100vh;
    background: #f2f2f2;
}

.sidebar {
    width: 20%;
    background: #ddd;
    padding: 20px;
    overflow-y: auto;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#map {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.video {
    width: 70%;
    height: 30%;
    background: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drone-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

button {
    margin-top: 15px;
    padding: 8px;
}